<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Barra de progreso</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar-info" role="progressbar" [attr.ariaValueNow]="progressb" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" [style.width]="progressb + '%'" style="width: 75%"></div>
                </div>
                <br>
                <div class="progress ">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success " role="progressbar" [attr.ariaValueNow]="progressg" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" [style.width]="progressg + '%'" style="width: 75%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-progress-control (changeValue)="progressb = $event" title="Progess azul x" [progress]="progressb"></app-progress-control>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-progress-control (changeValue)="progressg = $event" title="Progess verde" [progress]="progressg"></app-progress-control>
            </div>
        </div>
    </div>
</div>